<a href="https://colab.research.google.com/github/NarawitPrathansap/BasicProg_DataViz65/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/BPDV65/opendata_unittype.csv')
data

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,19/11/2021 18:00,19/11/2021 17:44,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,27/1/2022 14:30,27/1/2022 14:22,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14/1/2022 15:00,14/1/2022 14:40,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4/12/2020 10:40,14/10/2020 1:06,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,12/11/2021 13:30,3/2/2021 12:12,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,12/11/2021 13:22,14/10/2020 10:05,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4/12/2020 10:36,14/10/2020 0:37,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,12/11/2021 13:34,29/10/2021 18:43,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,4/12/2020 10:42,14/10/2020 19:30,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,12/11/2021 13:19,14/10/2020 0:41,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [ ]:
set(unit['propertytype_name_en'])#ตรวจสอบค่าในcolumn

{'Apartment',
 'Commercial',
 'Condo',
 'Detached House',
 'Home office',
 'Hotel',
 'Land',
 'Office Space',
 'Townhome',
 'Twin house',
 'Warehouse / Factory'}

In [ ]:
Condo_unit = data[data['propertytype_name_en']=='Condo']
Condo_unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,19/11/2021 18:00,19/11/2021 17:44,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14/1/2022 15:00,14/1/2022 14:40,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4/12/2020 10:40,14/10/2020 1:06,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
10,5238,unittype_15162,project_4107,Studio Floor 5-8,2,Condo,คอนโด,NaN,30.0,1116000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,12/11/2021 13:21,14/10/2020 0:58,baania,https://baania.com/th/project/ซิตี้โฮม-รัตนาธิ...
14,29911,unittype_25780,project_10313,1 Bedroom,2,Condo,คอนโด,NaN,50.0,1700000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,12/11/2021 13:22,14/10/2020 1:09,baania,https://baania.com/th/project/พัทยา-เดล-เรย์-1...

In [ ]:
Townhome_unit = data[data['propertytype_name_en']=='Townhome']
Townhome_unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,12/11/2021 13:30,3/2/2021 12:12,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
12,26883,unittype_22911,project_8692,Type B,3,Townhome,ทาวน์โฮม,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,12/11/2021 13:24,14/10/2020 23:21,baania,https://baania.com/th/project/บ้านกลางเมือง-ลา...
13,40751,61516ba1cd39f40018537c6d,project_3391,HAUS,3,Townhome,ทาวน์โฮม,NaN,125.0,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,12/11/2021 13:33,27/9/2021 13:58,baania,https://baania.com/th/project/ไลโอ-บลิสซ์-เศรษ...
15,30642,unittype_28034,project_11464,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,NaN,134.0,1590000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4/12/2020 10:36,14/10/2020 0:36,baania,https://baania.com/th/project/เค-ซี-พร็อพเพอร์...
42,38678,unittype_27892,project_11388,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,20.3,144.0,2680000.0,...,1.0,1.0,NaN,NaN,1.0,NaN,12/11/2021 13:33,15/7/2021 15:22,baania,https://baania.com/th/project/เดอะ-เรสซิเด้นท์...

In [ ]:
data_2 = pd.concat([Townhome_unit,Condo_unit])
data_2

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,12/11/2021 13:30,3/2/2021 12:12,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
12,26883,unittype_22911,project_8692,Type B,3,Townhome,ทาวน์โฮม,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,12/11/2021 13:24,14/10/2020 23:21,baania,https://baania.com/th/project/บ้านกลางเมือง-ลา...
13,40751,61516ba1cd39f40018537c6d,project_3391,HAUS,3,Townhome,ทาวน์โฮม,NaN,125.0,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,12/11/2021 13:33,27/9/2021 13:58,baania,https://baania.com/th/project/ไลโอ-บลิสซ์-เศรษ...
15,30642,unittype_28034,project_11464,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,NaN,134.0,1590000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4/12/2020 10:36,14/10/2020 0:36,baania,https://baania.com/th/project/เค-ซี-พร็อพเพอร์...
42,38678,unittype_27892,project_11388,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,20.3,144.0,2680000.0,...,1.0,1.0,NaN,NaN,1.0,NaN,12/11/2021 13:33,15/7/2021 15:22,baania,https://baania.com/th/project/เดอะ-เรสซิเด้นท์...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42590,23548,unittype_15279,project_3976,1 Bedroom Tower 1 Floor 5-6,2,Condo,คอนโด,NaN,33.0,989000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12/11/2021 13:21,14/10/2020 0:58,baania,https://baania.com/th/project/เดอะ-สตาร์-คอนโด...
42602,39384,unittype_3476,project_812,2 Bedroom Type A,2,Condo,คอนโด,NaN,94.0,6345000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,14/1/2022 11:00,14/1/2022 10:32,baania,https://baania.com/th/project/เดอะ-ยูนีค-คอนโด...
42604,1058,unittype_7949,project_2641,Typical 1 Bedroom,2,Condo,คอนโด,NaN,34.0,3120000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,12/11/2021 13:25,27/10/2020 15:03,baania,https://baania.com/th/project/ศุภาลัย-ไลท์-รัช...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,คอนโด,NaN,71.0,17000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,12/11/2021 13:23,14/10/2020 20:30,baania,https://baania.com/th/project/เดอะ-ไลน์-สาทร-1...
42615,36172,unittype_34140,project_14663,2 Bedroom,2,Condo,คอนโด,NaN,60.0,3500000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,28/2/2022 15:30,28/2/2022 14:43,baania,https://baania.com/th/project/พลัส-คอนโด-โคราช...

In [ ]:
Condo_unit2 = data[data['propertytype_name_en']=='Condo'][['area_usable_min','price_min']]
Condo_unit2.head()

    area_usable_min  price_min
0              37.3  2500000.0
2              28.0        NaN
3              27.0   170000.0
10             30.0  1116000.0
14             50.0  1700000.0

In [ ]:
Townhome_unit2 = data[data['propertytype_name_en']=='Townhome'][['area_usable_min','price_min']]
Townhome_unit2.head()

    area_usable_min  price_min
4             182.0  2390000.0
12              NaN        NaN
13            125.0        NaN
15            134.0  1590000.0
42            144.0  2680000.0

In [ ]:
pd.concat([Townhome_unit2,Condo_unit2])

       area_usable_min   price_min
4                182.0   2390000.0
12                 NaN         NaN
13               125.0         NaN
15               134.0   1590000.0
42               144.0   2680000.0
...                ...         ...
42590             33.0    989000.0
42602             94.0   6345000.0
42604             34.0   3120000.0
42607             71.0  17000000.0
42615             60.0   3500000.0

[20827 rows x 2 columns]

In [ ]:
data.isnull()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,True,False,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,False,False,False,False,False,False,False,True,False,True,...,True,False,True,True,True,True,False,False,False,False
42621,False,False,False,False,False,False,False,True,False,False,...,True,True,True,True,True,True,False,False,False,False
42622,False,False,False,False,False,False,False,True,False,True,...,False,True,True,True,True,True,False,False,False,False
42623,False,False,False,False,False,False,False,True,False,False,...,True,False,True,True,True,True,False,False,False,False
42624,False,False,False,False,False,False,False,True,False,False,...,False,False,True,True,True,True,False,False,False,False

In [ ]:
data.dropna(subset=['area_total_min_wa']).isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa       False
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype            False
dtype: bool

# วนลูปตารางในrecord

In [ ]:
data_x = data[['propertytype_name_en','area_usable_min','price_min']]
data_x

      propertytype_name_en  area_usable_min  price_min
0                    Condo             37.3  2500000.0
1               Twin house            150.0  2390000.0
2                    Condo             28.0        NaN
3                    Condo             27.0   170000.0
4                 Townhome            182.0  2390000.0
...                    ...              ...        ...
42620       Detached House            157.0        NaN
42621       Detached House            223.0  7490000.0
42622             Townhome            133.0        NaN
42623       Detached House            180.0  3200000.0
42624       Detached House            170.0  3790000.0

[42625 rows x 3 columns]

In [ ]:
for each_row in data_x.iterrows():
    # print(each_row)
    # print(each_row[1])
    # print(each_row[1]['sex'])
    if (each_row[1]['price_min'] > 500000) and (each_row[1]['propertytype_name_en'] == 'Condo'):
        print(each_row)

เอาต์พุตของการสตรีมมีการตัดเหลือเพียง 5000 บรรทัดสุดท้าย
(37319, propertytype_name_en        Condo
area_usable_min              51.0
price_min               4700000.0
Name: 37319, dtype: object)
(37320, propertytype_name_en        Condo
area_usable_min              35.0
price_min               1200000.0
Name: 37320, dtype: object)
(37330, propertytype_name_en        Condo
area_usable_min              56.0
price_min               3031000.0
Name: 37330, dtype: object)
(37331, propertytype_name_en        Condo
area_usable_min              33.0
price_min               1990000.0
Name: 37331, dtype: object)
(37333, propertytype_name_en        Condo
area_usable_min              31.0
price_min               1304000.0
Name: 37333, dtype: object)
(37340, propertytype_name_en        Condo
area_usable_min              69.0
price_min               4500000.0
Name: 37340, dtype: object)
(37346, propertytype_name_en        Condo
area_usable_min              50.0
price_min               2800000.0
Name: 37346, dtype: object)
(37354, propertytype_name_en        Condo
area_usable_min              24.0
price_min               2230000.0
Name: 37354, dtype: object)
(37363, propertytype_name_en        Condo
area_usable_min             37.88
price_min               2472000.0
Name: 37363, dtype: object)
(37364, propertytype_name_en        Condo
area_usable_min              54.0
price_min               4390000.0
Name: 37364, dtype: object)
(37368, propertytype_name_en        Condo
area_usable_min              46.0
price_min               3900000.0
Name: 37368, dtype: object)
(37369, propertytype_name_en        Condo
area_usable_min              42.5
price_min               4500000.0
Name: 37369, dtype: object)
(37372, propertytype_name_en        Condo
area_usable_min              44.0
price_min               1191000.0
Name: 37372, dtype: object)
(37375, propertytype_name_en        Condo
area_usable_min              26.0
price_min               2800000.0
Name: 37375, dtype: object)
(37378, propertytype_name_en        Condo
area_usable_min              53.0
price_min               2650000.0
Name: 37378, dtype: object)
(37379, propertytype_name_en        Condo
area_usable_min              54.0
price_min               3000000.0
Name: 37379, dtype: object)
(37389, propertytype_name_en       Condo
area_usable_min             32.0
price_min               800000.0
Name: 37389, dtype: object)
(37392, propertytype_name_en        Condo
area_usable_min              33.0
price_min               1809000.0
Name: 37392, dtype: object)
(37393, propertytype_name_en        Condo
area_usable_min              60.0
price_min               2490000.0
Name: 37393, dtype: object)
(37399, propertytype_name_en        Condo
area_usable_min              60.0
price_min               1711000.0
Name: 37399, dtype: object)
(37404, propertytype_name_en        Condo
area_usable_min              52.0
price_min               7290000.0
Name: 37404, dtype: object)
(37408, propertytype_name_en        Condo
area_usable_min              53.0
price_min               3600000.0
Name: 37408, dtype: object)
(37413, propertytype_name_en        Condo
area_usable_min              36.0
price_min               1200000.0
Name: 37413, dtype: object)
(37414, propertytype_name_en        Condo
area_usable_min              30.0
price_min               1750000.0
Name: 37414, dtype: object)
(37436, propertytype_name_en        Condo
area_usable_min              56.0
price_min               4817000.0
Name: 37436, dtype: object)
(37438, propertytype_name_en        Condo
area_usable_min              24.0
price_min               2800000.0
Name: 37438, dtype: object)
(37442, propertytype_name_en        Condo
area_usable_min              23.6
price_min               2290000.0
Name: 37442, dtype: object)
(37446, propertytype_name_en       Condo
area_usable_min             22.0
price_min               550000.0
Name: 37446, dtype: object)
(37451, propertytype_name_en       Condo
area_usable_min             23.0
price_min               990000.0
Name: 37451, dtype: object)
(37456, propertytype_name_en        Condo
area_usable_min              91.0
price_min               8900000.0
Name: 37456, dtype: object)
(37476, propertytype_name_en        Condo
area_usable_min              85.0
price_min               5030000.0
Name: 37476, dtype: object)
(37482, propertytype_name_en         Condo
area_usable_min               92.0
price_min               12000000.0
Name: 37482, dtype: object)
(37487, propertytype_name_en        Condo
area_usable_min              34.0
price_min               1390000.0
Name: 37487, dtype: object)
(37488, propertytype_name_en        Condo
area_usable_min              49.0
price_min               9600000.0
Name: 37488, dtype: object)
(37490, propertytype_name_en        Condo
area_usable_min              43.0
price_min               3000000.0
Name: 37490, dtype: object)
(37492, propertytype_name_en        Condo
area_usable_min              42.0
price_min               2900000.0
Name: 37492, dtype: object)
(37493, propertytype_name_en        Condo
area_usable_min              58.0
price_min               3300000.0
Name: 37493, dtype: object)
(37495, propertytype_name_en        Condo
area_usable_min              42.0
price_min               6216000.0
Name: 37495, dtype: object)
(37497, propertytype_name_en        Condo
area_usable_min              42.0
price_min               1685000.0
Name: 37497, dtype: object)
(37506, propertytype_name_en         Condo
area_usable_min              268.0
price_min               25000000.0
Name: 37506, dtype: object)
(37512, propertytype_name_en        Condo
area_usable_min              71.0
price_min               6640000.0
Name: 37512, dtype: object)
(37513, propertytype_name_en        Condo
area_usable_min              63.0
price_min               6800000.0
Name: 37513, dtype: object)
(37515, propertytype_name_en        Condo
area_usable_min              56.0
price_min               1868000.0
Name: 37515, dtype: object)
(37522, propertytype_name_en        Condo
area_usable_min              87.0
price_min               6351000.0
Name: 37522, dtype: object)
(37529, propertytype_name_en        Condo
area_usable_min              70.0
price_min               4200000.0
Name: 37529, dtype: object)
(37535, propertytype_name_en         Condo
area_usable_min               69.0
price_min               10200000.0
Name: 37535, dtype: object)
(37537, propertytype_name_en       Condo
area_usable_min             28.0
price_min               717000.0
Name: 37537, dtype: object)
(37549, propertytype_name_en        Condo
area_usable_min              39.0
price_min               3500000.0
Name: 37549, dtype: object)
(37551, propertytype_name_en        Condo
area_usable_min              36.0
price_min               2088000.0
Name: 37551, dtype: object)
(37552, propertytype_name_en        Condo
area_usable_min              76.0
price_min               2650000.0
Name: 37552, dtype: object)
(37558, propertytype_name_en        Condo
area_usable_min              43.0
price_min               4600000.0
Name: 37558, dtype: object)
(37561, propertytype_name_en         Condo
area_usable_min              126.0
price_min               23510000.0
Name: 37561, dtype: object)
(37565, propertytype_name_en        Condo
area_usable_min              28.0
price_min               2200000.0
Name: 37565, dtype: object)
(37573, propertytype_name_en        Condo
area_usable_min              35.0
price_min               2950000.0
Name: 37573, dtype: object)
(37578, propertytype_name_en        Condo
area_usable_min              28.9
price_min               2800000.0
Name: 37578, dtype: object)
(37588, propertytype_name_en        Condo
area_usable_min              65.0
price_min               4150000.0
Name: 37588, dtype: object)
(37589, propertytype_name_en        Condo
area_usable_min              23.0
price_min               1590000.0
Name: 37589, dtype: object)
(37590, propertytype_name_en        Condo
area_usable_min              61.0
price_min               6161000.0
Name: 37590, dtype: object)
(37613, propertytype_name_en       Condo
area_usable_min             25.0
price_min               870000.0
Name: 37613, dtype: object)
(37620, propertytype_name_en        Condo
area_usable_min              40.0
price_min               3519000.0
Name: 37620, dtype: object)
(37622, propertytype_name_en        Condo
area_usable_min              31.0
price_min               2300000.0
Name: 37622, dtype: object)
(37627, propertytype_name_en        Condo
area_usable_min             166.0
price_min               9628000.0
Name: 37627, dtype: object)
(37628, propertytype_name_en       Condo
area_usable_min             23.0
price_min               690000.0
Name: 37628, dtype: object)
(37631, propertytype_name_en        Condo
area_usable_min              32.0
price_min               1470000.0
Name: 37631, dtype: object)
(37633, propertytype_name_en        Condo
area_usable_min              32.0
price_min               2720000.0
Name: 37633, dtype: object)
(37635, propertytype_name_en        Condo
area_usable_min              30.0
price_min               1050000.0
Name: 37635, dtype: object)
(37636, propertytype_name_en        Condo
area_usable_min             143.0
price_min               8900000.0
Name: 37636, dtype: object)
(37640, propertytype_name_en        Condo
area_usable_min              72.0
price_min               5800000.0
Name: 37640, dtype: object)
(37646, propertytype_name_en        Condo
area_usable_min              63.0
price_min               1650000.0
Name: 37646, dtype: object)
(37648, propertytype_name_en       Condo
area_usable_min             32.0
price_min               899000.0
Name: 37648, dtype: object)
(37649, propertytype_name_en        Condo
area_usable_min              38.1
price_min               5640000.0
Name: 37649, dtype: object)
(37650, propertytype_name_en         Condo
area_usable_min               68.0
price_min               11900000.0
Name: 37650, dtype: object)
(37651, propertytype_name_en         Condo
area_usable_min               49.0
price_min               11760000.0
Name: 37651, dtype: object)
(37659, propertytype_name_en         Condo
area_usable_min              101.0
price_min               12100000.0
Name: 37659, dtype: object)
(37665, propertytype_name_en        Condo
area_usable_min              32.0
price_min               2300000.0
Name: 37665, dtype: object)
(37667, propertytype_name_en        Condo
area_usable_min              54.0
price_min               2650000.0
Name: 37667, dtype: object)
(37668, propertytype_name_en        Condo
area_usable_min              36.0
price_min               2500000.0
Name: 37668, dtype: object)
(37682, propertytype_name_en        Condo
area_usable_min              45.0
price_min               3430000.0
Name: 37682, dtype: object)
(37686, propertytype_name_en        Condo
area_usable_min              59.0
price_min               3108000.0
Name: 37686, dtype: object)
(37687, propertytype_name_en        Condo
area_usable_min              33.0
price_min               1200000.0
Name: 37687, dtype: object)
(37701, propertytype_name_en        Condo
area_usable_min             30.61
price_min               3100000.0
Name: 37701, dtype: object)
(37709, propertytype_name_en        Condo
area_usable_min              42.0
price_min               3280000.0
Name: 37709, dtype: object)
(37720, propertytype_name_en        Condo
area_usable_min              22.5
price_min               1990000.0
Name: 37720, dtype: object)
(37725, propertytype_name_en        Condo
area_usable_min              38.0
price_min               3390000.0
Name: 37725, dtype: object)
(37727, propertytype_name_en        Condo
area_usable_min              28.0
price_min               1490000.0
Name: 37727, dtype: object)
(37729, propertytype_name_en         Condo
area_usable_min               92.0
price_min               12858000.0
Name: 37729, dtype: object)
(37731, propertytype_name_en        Condo
area_usable_min              24.0
price_min               1420000.0
Name: 37731, dtype: object)
(37744, propertytype_name_en       Condo
area_usable_min             30.0
price_min               850000.0
Name: 37744, dtype: object)
(37747, propertytype_name_en        Condo
area_usable_min              26.0
price_min               4390000.0
Name: 37747, dtype: object)
(37756, propertytype_name_en        Condo
area_usable_min              38.0
price_min               1910000.0
Name: 37756, dtype: object)
(37757, propertytype_name_en        Condo
area_usable_min              30.0
price_min               1490000.0
Name: 37757, dtype: object)
(37760, propertytype_name_en        Condo
area_usable_min              60.0
price_min               7200000.0
Name: 37760, dtype: object)
(37761, propertytype_name_en        Condo
area_usable_min              23.0
price_min               2480000.0
Name: 37761, dtype: object)
(37768, propertytype_name_en        Condo
area_usable_min              32.0
price_min               1900000.0
Name: 37768, dtype: object)
(37780, propertytype_name_en         Condo
area_usable_min              171.0
price_min               12500000.0
Name: 37780, dtype: object)
(37782, propertytype_name_en        Condo
area_usable_min              26.0
price_min               2200000.0
Name: 37782, dtype: object)
(37798, propertytype_name_en        Condo
area_usable_min              96.0
price_min               5500000.0
Name: 37798, dtype: object)
(37803, propertytype_name_en       Condo
area_usable_min             30.0
price_min               690000.0
Name: 37803, dtype: object)
(37808, propertytype_name_en         Condo
area_usable_min               95.3
price_min               18000000.0
Name: 37808, dtype: object)
(37810, propertytype_name_en        Condo
area_usable_min              60.0
price_min               4100000.0
Name: 37810, dtype: object)
(37812, propertytype_name_en        Condo
area_usable_min              29.5
price_min               3500000.0
Name: 37812, dtype: object)
(37815, propertytype_name_en         Condo
area_usable_min               96.0
price_min               13000000.0
Name: 37815, dtype: object)
(37820, propertytype_name_en        Condo
area_usable_min              32.0
price_min               1200000.0
Name: 37820, dtype: object)
(37822, propertytype_name_en         Condo
area_usable_min              108.5
price_min               28160000.0
Name: 37822, dtype: object)
(37828, propertytype_name_en       Condo
area_usable_min             31.0
price_min               674000.0
Name: 37828, dtype: object)
(37836, propertytype_name_en        Condo
area_usable_min              31.0
price_min               1099000.0
Name: 37836, dtype: object)
(37840, propertytype_name_en         Condo
area_usable_min              154.0
price_min               28000000.0
Name: 37840, dtype: object)
(37854, propertytype_name_en        Condo
area_usable_min              40.0
price_min               1690000.0
Name: 37854, dtype: object)
(37856, propertytype_name_en         Condo
area_usable_min              130.0
price_min               14260000.0
Name: 37856, dtype: object)
(37858, propertytype_name_en        Condo
area_usable_min              73.0
price_min               7400000.0
Name: 37858, dtype: object)
(37859, propertytype_name_en        Condo
area_usable_min             102.0
price_min               4890000.0
Name: 37859, dtype: object)
(37863, propertytype_name_en        Condo
area_usable_min              27.0
price_min               3900000.0
Name: 37863, dtype: object)
(37879, propertytype_name_en        Condo
area_usable_min              29.0
price_min               1980000.0
Name: 37879, dtype: object)
(37881, propertytype_name_en         Condo
area_usable_min               59.0
price_min               13000000.0
Name: 37881, dtype: object)
(37884, propertytype_name_en        Condo
area_usable_min              51.0
price_min               2040000.0
Name: 37884, dtype: object)
(37885, propertytype_name_en        Condo
area_usable_min              33.0
price_min               2042900.0
Name: 37885, dtype: object)
(37897, propertytype_name_en        Condo
area_usable_min              26.0
price_min               2090000.0
Name: 37897, dtype: object)
(37905, propertytype_name_en        Condo
area_usable_min             28.54
price_min               1790000.0
Name: 37905, dtype: object)
(37912, propertytype_name_en        Condo
area_usable_min              37.0
price_min               1900000.0
Name: 37912, dtype: object)
(37914, propertytype_name_en        Condo
area_usable_min              38.0
price_min               1950000.0
Name: 37914, dtype: object)
(37915, propertytype_name_en        Condo
area_usable_min              28.0
price_min               2200000.0
Name: 37915, dtype: object)
(37917, propertytype_name_en        Condo
area_usable_min             33.75
price_min               3990000.0
Name: 37917, dtype: object)
(37918, propertytype_name_en        Condo
area_usable_min              52.0
price_min               1367340.0
Name: 37918, dtype: object)
(37920, propertytype_name_en       Condo
area_usable_min             33.0
price_min               694000.0
Name: 37920, dtype: object)
(37926, propertytype_name_en        Condo
area_usable_min              46.0
price_min               6240000.0
Name: 37926, dtype: object)
(37933, propertytype_name_en          Condo
area_usable_min               432.0
price_min               150000000.0
Name: 37933, dtype: object)
(37941, propertytype_name_en        Condo
area_usable_min              56.0
price_min               4115000.0
Name: 37941, dtype: object)
(37944, propertytype_name_en       Condo
area_usable_min             40.0
price_min               660000.0
Name: 37944, dtype: object)
(37945, propertytype_name_en        Condo
area_usable_min              39.0
price_min               3200000.0
Name: 37945, dtype: object)
(37951, propertytype_name_en        Condo
area_usable_min              32.0
price_min               1114000.0
Name: 37951, dtype: object)
(37953, propertytype_name_en       Condo
area_usable_min             26.0
price_min               690000.0
Name: 37953, dtype: object)
(37957, propertytype_name_en        Condo
area_usable_min              55.0
price_min               4404000.0
Name: 37957, dtype: object)
(37960, propertytype_name_en         Condo
area_usable_min              175.0
price_min               25000000.0
Name: 37960, dtype: object)
(37961, propertytype_name_en        Condo
area_usable_min              60.0
price_min               2200000.0
Name: 37961, dtype: object)
(37973, propertytype_name_en         Condo
area_usable_min              360.0
price_min               21500000.0
Name: 37973, dtype: object)
(37974, propertytype_name_en        Condo
area_usable_min              50.0
price_min               5000000.0
Name: 37974, dtype: object)
(37980, propertytype_name_en       Condo
area_usable_min             32.0
price_min               866000.0
Name: 37980, dtype: object)
(37992, propertytype_name_en        Condo
area_usable_min              30.0
price_min               1500000.0
Name: 37992, dtype: object)
(37994, propertytype_name_en       Condo
area_usable_min             30.0
price_min               972000.0
Name: 37994, dtype: object)
(37998, propertytype_name_en        Condo
area_usable_min              34.0
price_min               3290000.0
Name: 37998, dtype: object)
(38001, propertytype_name_en        Condo
area_usable_min             30.41
price_min               1550000.0
Name: 38001, dtype: object)
(38007, propertytype_name_en         Condo
area_usable_min              140.0
price_min               11000000.0
Name: 38007, dtype: object)
(38013, propertytype_name_en        Condo
area_usable_min              24.0
price_min               1617411.0
Name: 38013, dtype: object)
(38016, propertytype_name_en        Condo
area_usable_min              51.0
price_min               4900000.0
Name: 38016, dtype: object)
(38018, propertytype_name_en        Condo

In [ ]:
data1 = data.dropna(subset=['propertytype_name_en','price_min','area_usable_min'])

In [ ]:
maxprice = data1.groupby('propertytype_name_en')[['price_min','area_total_min_wa' , 'area_usable_min', 'count_room_bed']].max().reset_index()
maxprice

,propertytype_name_en,price_min,area_total_min_wa,area_usable_min,count_room_bed
0,Apartment,2370000.0,NaN,40.00,1.0
1,Commercial,52000000.0,60.0,1360.00,10.0
2,Condo,580000000.0,NaN,4350.00,6.0
3,Detached House,285000000.0,335.0,2548.00,10.0
4,Home office,92000000.0,73.6,1065.00,10.0
5,Hotel,27300000.0,NaN,120.00,2.0
6,Office Space,25000000.0,NaN,585.00,4.0
7,Townhome,120000000.0,65.2,1000.00,10.0
8,Twin house,129000000.0,96.5,724.95,6.0
9,Warehouse / Factory,29200000.0,NaN,970.00,NaN

In [ ]:
for row in maxprice.iterrows():
    print(row[1]['propertytype_name_en'],row[1]['price_min'])
    print(data1[(data1['propertytype_name_en']==row[1]['propertytype_name_en']) & (data1['price_min']==row[1]['price_min'])][['area_total_min_wa' , 'area_usable_min', 'count_room_bed']])

Apartment 2370000.0
       area_total_min_wa  area_usable_min  count_room_bed
36707                NaN             32.0             1.0
Commercial 52000000.0
       area_total_min_wa  area_usable_min  count_room_bed
10190                NaN           1065.0             7.0
Condo 580000000.0
       area_total_min_wa  area_usable_min  count_room_bed
33122                NaN           1182.0             3.0
Detached House 285000000.0
       area_total_min_wa  area_usable_min  count_room_bed
18443                NaN           2400.0             5.0
Home office 92000000.0
       area_total_min_wa  area_usable_min  count_room_bed
39868                NaN            856.0             NaN
Hotel 27300000.0
       area_total_min_wa  area_usable_min  count_room_bed
32899                NaN            120.0             2.0
Office Space 25000000.0
       area_total_min_wa  area_usable_min  count_room_bed
22348                NaN            585.0             NaN
Townhome 120000000.0
       area_total_min_wa  area_usable_min  count_room_bed
25460                NaN           1000.0             6.0
Twin house 129000000.0
       area_total_min_wa  area_usable_min  count_room_bed
26629                NaN           724.95             4.0
Warehouse / Factory 29200000.0
       area_total_min_wa  area_usable_min  count_room_bed
19424                NaN            970.0             NaN